button {
  width: 30px;
}

input {
  width: 1px;
}

.calculator {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  border-radius: 5px;
}

.container {
  text-align: center;
  border: 10px solid black;
}
.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}
